<link rel="stylesheet" href="about_us.css" />


<div class="about-us">
  <h1>ABOUT US</h1>
</div>

<div class="about-us-container">
  <div class="about-us-img-container">
    <img src="https://media.licdn.com/media/p/8/005/053/397/1feba1b.jpg" alt="">
  </div>
  <div class="text">
    <h3>- Full Stack Developer/Social Media Specialist</h3>
    <p><%= "Based in Colorado, Isaac is a full stack
      web developer with professional experience in social media based marketing
      and advertising. Isaac has an innovative skill set to build, produce and
      develop web based platforms."%></p>
  </div>
  </div>

  <div class="about-us-container">
    <div class="about-us-img-container">
      <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAgmAAAAJGE5ZDlhYTg3LTQ3Y2QtNGUyMi04MzZlLTAxYTY4ZWM5YWE4MA.jpg" alt="">
    </div>
    <div class="text">
      <h3>- Full Stack Developer/Social Media Specialist</h3>
      <p><%= "Based in London England, with a degree from Indiana Wesleyan University in mathematics and professional
      experience in seo and business strategy/analysis.
      Tyler is a visionary capable of taking the full scope of the project and prioritizing
      the order of operation to produce optimal proficiency."%> </p>
    </div>
  </div>

  <div class="about-us-container">
    <div class="about-us-img-container">
      <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAdiAAAAJGQ4NDdkZGM5LTA5MGItNDQ5Mi04NmNiLWQyZjk3MTY5MmIyNA.jpg" alt="">
    </div>
    <div class="text">
      <h3>- Full Stack Developer/Social Media Specialist</h3>
      <p><%= "Based in London England, With a degree from University Of The Arts London in
      illustration and professional experience as a graphic and logo designer.
      Mary has an artful and precise methodology in developing each brand strategy."%> </p>
    </div>
  </div>
</div>
