<link rel="stylesheet" href="about_us.css" />


<div class="about-us">
  <h1>ABOUT US</h1>
</div>

<div class="about-us-container">
  <div class="about-us-img-container">
    <img src="https://media.licdn.com/media/p/8/005/053/397/1feba1b.jpg" alt="">
    <p><%= "#{@isaac.bio}"%> </p>
  </div>

  <div class="about-us-container">
    <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAgmAAAAJGE5ZDlhYTg3LTQ3Y2QtNGUyMi04MzZlLTAxYTY4ZWM5YWE4MA.jpg" alt="">
    <p><%= "#{@tyler.bio}"%> </p>
  </div>

  <div class="about-us-container">
    <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAdiAAAAJGQ4NDdkZGM5LTA5MGItNDQ5Mi04NmNiLWQyZjk3MTY5MmIyNA.jpg" alt="">
    <p><%= "#{@mary.bio}"%> </p>
  </div>
</div>
