<link rel="stylesheet" href="home.css" />

<div class="article-sidebar">
  <div class="text">
    <%= 'We are a team of three' %>
    <%= 'We are very happy what happens when I just keep writing' %>
  </div>
</div>


<div class="bottom-container">
  <div class="projects-list">
    <div class="text">
      <%='Projects we have worked on:'%>
    </div>
  </div>
</div>
