<link rel="stylesheet" href="home.css" />

<div class="article-sidebar">
  <div class="text">
    <%= 'We are a botique agency' %>
  </div>
</div>


<div class="bottom-container">
  <div class="projects-list">
    <div class="text">
      <%='Projects we have worked on:'%>
    </div>
  </div>
</div>

<div id="about-us">
  <img src="assets/isaac.png" alt="">
  <img src="assets/tyler.png" alt="">
  <img src="assets/mary.png" alt="">
</div>
