<link rel="stylesheet" href="home.css" />

<div class="article-sidebar">
  <div class="text">
    <%= 'We are a botique agency that develops clean simple user friendly websites' %>
  </div>
</div>



<%= "This is our team" %>
<div id="about-us">
  <img src="assets/isaac.png" alt="">
  <img src="assets/tyler.png" alt="">
  <img src="assets/mary.png" alt="">
</div>

<div id="contact-us">
  <%='Projects we have worked on:'%>
</div>
