.about-us-cover-photo img {

}

.about-us {
  text-align: center;
}

.about-us-container {
  display: inline-block;
  width: 100%;
}
.about-us-img-container {
  width: 30%;
  display: inline-block;
}
.text  {
  display: inline-block;
  width: 40%;
  vertical-align: middle;
}

.about-us-container img {
  display: inline-block;
  height: 200px;
  border-radius: 50%;
  margin: 50px 50px 50px 50px;
  vertical-align: middle;
}
