body {
  margin: 0;
}
/*
.article-sidebar {
  margin-top: 20px;
  margin-left: 1%;
  width: 25%;
  display: inline-block;
  border-right: 1px solid gray;
  position: absolute;
}

.bottom-container .projects-list .text {
  float: right;
  width: 70%;
  display: inline-block;
  color: black;
}

background-color: #f7f7f7;
*/


#about-us {
  display: inline-block;
  width: 100%;
  background-color: #f7f7f7;
}

#about-us img {
  padding-top: 60px;
  padding-bottom: 60px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-left: 170px;
  display: inline-block;
}

.contact-button {
  margin: auto;
  margin-bottom: 40px;
  width: 10%;
  border: 5px solid black;
  background-color: black;
  text-align: center;
  font-family: "Raleway";
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: .4px;
  font-weight: 500;
  font-style: normal;
  padding: 15px;
}

#contact-us {
  color: white;
  position: relative;
}

.contact-form {
    display: none;
    margin-bottom: 40px;
}

#contact-us .form-fields {
  padding-bottom: 15px;
  width: 500px;
  height: 250px;
  background-color: #f7f7f7;
  margin: 0 auto;
  border-radius: 4px;
  opacity: 0.9;
  text-align: center;
}

#container {
  text-align: center;
  font-family: sans-serif;
  padding-top: 80px;
  padding-bottom: 80px;
}

#contact-us input {
  color: black;
  height: 15px;
  width: 200px;
  font-size: 20px;
  margin-top: 20px;
  padding: 10px;
}

.footer {
  background-color: #f7f7f7;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

/*
display: block;
color: black;
background-color: #f7f7f7;
border-radius: 4px;
margin-top: 150px;
opacity: 0.9;
text-align: center;
*/
