body {
  margin: 0;
}

#about-us {
  max-width: 100%;
  margin-top: 50px;
}

#about-us img {
  text-align: center;
  width: 200px;
  border-radius: 50%;
  margin-left: 175px;
}

.img-container {
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 100px;
}

.img-container p {
  color: black;
  text-align: center;
  border: 1px solid black;
  margin-left: 171px;
  padding: 1.5em 0.5em;
  font-size: 15px;
  letter-spacing: .2em;
}

.img-container p a {
  text-decoration: none;
  color: black;
}


#current-projects-container {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #f7f7f7;
}

#current-projects-container .text  {
  text-align: center;
}

#current-projects-container .text li a {
  text-decoration: none;
  color: black;
}

.contact-container {
  margin-top: 150px;
  margin-bottom: 150px;
}

.contact-button {
 margin: auto;
 margin-bottom: 40px;
 width: 20%;
 border: 1px solid black;
 text-align: center;
 font-family: "Raleway";
 color: black;
 font-size: 15px;
 text-transform: uppercase;
 letter-spacing: .4px;
 font-weight: 500;
 font-style: normal;
 padding: 15px;
 text-align: center;
}

#contact-us {
  text-align: center;
  color: black;
}

.contact-form {
  display: none;
  margin-bottom: 40px;
}

#contact-us .form-fields {
  padding-bottom: 15px;
  width: 500px;
  height: 250px;
  background-color: #f7f7f7;
  margin: 0 auto;
  border-radius: 4px;
  opacity: 0.9;
  text-align: center;
}

#container {
  text-align: center;
  font-family: sans-serif;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #f7f7f7;
}

#contact-us input {
  color: black;
  height: 15px;
  width: 200px;
  font-size: 20px;
  margin-top: 20px;
  padding: 10px;
}

.footer {
  background-color: #f7f7f7;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

/*
display: block;
color: black;
background-color: #f7f7f7;
border-radius: 4px;
margin-top: 150px;
opacity: 0.9;
text-align: center;
*/
